.Main {
	position: sticky;
	top: 0px;
	justify-content: flex-end;
	align-items: center;
	padding: 1px;
	background-color: rgba(0, 0, 0, 0.3);
}

.MainFlame {
	width: 100%;
	height: 100vh;
	object-fit: cover;
	background-color: rgba(0, 0, 0, 0.7);
	position: relative;
}

.Concept {
}

.InstagramImage {
	width: 50%;
}

.FlameP {
	width: 100%;
	position: absolute;
	animation: imgfade 10s infinite;
}

.FlameImage {
	height: 100vh;
	object-fit: cover;
	opacity: 0;
}

.FlameLogo {
	top: 50%;
	transform: translate(0, -50%);
}

@keyframes imgfade {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

.FlameP:nth-of-type(1) {
	animation-delay: 0s;
}

.FlameP:nth-of-type(2) {
	animation-delay: 5s;
}
